body {
  background: $color-primary;
}

.site {
  @include container();
  background: $color-background-screen;
}

.site-content {
  background: $color-background-screen;
  max-width: $max-width-px;
  margin: $margin-center;

  .home & {
    max-width: 99%;
  }
}

.site-header,
.site-footer {
  background: $color-primary;
  color: $color-white;
  margin: $margin-center;
}

.site-header {
  background: url($asset-path + "img/banner-sm.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  min-height: 60px;
  text-align: center;

  @include breakpoint( $breakpoint-1 ) {
    background-image: url($asset-path + "img/banner-med.jpg");
    background-position: center;
    min-height: auto;
  }

  @include breakpoint( $breakpoint-2 ) {
    text-align: left;
  }

  @include breakpoint( $breakpoint-3 ) {
    background-image: url($asset-path + "img/banner.jpg");
  }

  .top-bar {
    background: $color-primary;
    color: $color-white;
    padding: 0 $base-padding;

    &:after {
      @include clearfix();
      @include clearfix-after;
    }
  }

  .site-title {
    float: left;
    line-height: 1em;
    margin: 0;
    max-width: 70%;
    padding: $base-padding 5px;
    text-align: left;

    @include breakpoint-tweener( $breakpoint-3, $breakpoint-4) {
      float: none;
      max-width: none;
      text-align: center;
    }

    @include breakpoint( $breakpoint-3, "max" ) {
      padding: $base-padding 0 $base-padding $base-padding;
    }

    @include breakpoint-tweener( $breakpoint-4, $max-width-px ) {
      padding-left: $padding-less;
      padding-right: $padding-less;
    }

    a {
      @include link-colors( $color-white, $color-accent-three );
      text-decoration: none;
    }
  }

  .latest-episode {
    align-items: center;
    background: rgba($color-primary, 0.95);
    display: grid;
    grid-template-columns: 35% 40% 20%;
    grid-gap: $base-margin;
    margin: $padding-more;

    @include breakpoint($breakpoint-1, "max") {
      display: block;
    }

    a {
      @include link-colors(rgba(lighten($color-accent-three, 10%), 1), rgba($color-accent-three, 0.8));
    }

    .episode {
      margin: $base-padding 0;
      padding: $base-padding;
    }

    a.show-notes {
      @include font-size(2.6);
      font-weight: bold;
    }

    .wpp-episode-sponsors {
      margin: 0 auto;
      text-align: center;
    }

    .wpp-sponsor {
      display: block;
      margin: $base-padding auto;
    }
  }

  svg {
    height: 3em;
    vertical-align: middle;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

.site-footer {
  a {
    @include link-colors( $color-accent-three, $color-secondary );
  }

  .site-info {
    text-align: center;
  }
}

.content-area:not(.three-col) {
  margin: $margin-center;
  max-width: $max-width-percent;
  padding: $padding-more 0 $padding-less;

  @include breakpoint( $breakpoint-3 ) {
    display: inline-block;
    padding: $padding-more;
    width: 69%;
    vertical-align: top;
  }

  &.one-col {
    display: block;
    width: $max-width-percent;

    &.home {
      width: 95%;
    }

    @include breakpoint( $breakpoint-3 ) {
      width: $max-width-percent - 10;
    }
  }
}

.contain {
  margin: $margin-center;
  max-width: $max-width-px;
}

.home-columns {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-gap: $padding-more;
  margin: 0 $padding-more;
}
