body {
  background: $color-primary;
}

.site {
  @include container();
  background: $color-background-body;
}

.site-content {
  background: $color-background-body;
  max-width: $max-width-px;
  margin: $margin-center;

  .home & {
    max-width: 99%;
  }
}

.site-header,
.site-footer {
  background: $color-background-screen;
  color: $color-primary;
  margin: $margin-center;
}

.site-header {
  background: url($asset-path + "img/banner-sm.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  min-height: 60px;
  text-align: center;

  @include breakpoint( $breakpoint-1 ) {
    background-image: url($asset-path + "img/banner-med.jpg");
    background-position: center;
    min-height: auto;
  }

  @include breakpoint( $breakpoint-2 ) {
    text-align: left;
  }

  @include breakpoint( $breakpoint-3 ) {
    background-image: url($asset-path + "img/banner.jpg");
  }

  .top-bar {
    background: $color-background-screen;
    color: $color-primary;
    padding: 0 $base-padding;

    &:after {
      @include clearfix();
      @include clearfix-after;
    }
  }

  .site-title {
    color: $color-primary;
    float: left;
    line-height: 1em;
    margin: 0;
    max-width: 70%;
    padding: $base-padding 5px;
    text-align: left;

    @include breakpoint-tweener( $breakpoint-3, $breakpoint-4) {
      float: none;
      max-width: none;
      text-align: center;
    }

    @include breakpoint( $breakpoint-3, "max" ) {
      padding: $base-padding 0 $base-padding $base-padding;
    }

    @include breakpoint-tweener( $breakpoint-4, $max-width-px ) {
      padding-left: $padding-less;
      padding-right: $padding-less;
    }

    a {
      text-decoration: none;
    }
  }

  .latest-episode {
    align-items: center;
    background: rgba($color-gray-base, 0.15);
    border-bottom: 1px solid rgba($color-gray-base, 0.7);
    border-top: 1px solid rgba($color-gray-base, 0.7);
    display: grid;
    grid-template-columns: 30% 45% 1fr;
    grid-gap: $base-margin;
    margin: $padding-more;
    padding: $base-padding;

    @include breakpoint($breakpoint-3, "max") {
      display: block;
    }

    .episode {
      margin: $base-padding 0;
      padding: $base-padding;
    }

    a.show-notes {
      display: block;
      @include font-size(2.6);
      font-weight: bold;
      padding-top: $padding-more;
    }

    .wpp-episode-sponsors {
      text-align: right;
    }

    .wpp-sponsor {
      display: block;
      padding: $base-padding 0;
    }
  }

  svg {
    height: 3em;
    vertical-align: middle;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

.site-footer {
  a {
    @include link-colors( $color-accent, $color-secondary );
  }

  .site-info {
    padding: $base-padding;
    text-align: center;
  }
}

.content-area:not(.three-col) {
  margin: $margin-center;
  max-width: $max-width-percent;
  padding: $padding-more 0 $padding-less;

  @include breakpoint( $breakpoint-3 ) {
    display: inline-block;
    padding: $padding-more;
    width: 65%;
    vertical-align: top;
  }

  &.one-col {
    display: block;
    width: $max-width-percent;

    &.home {
      width: 95%;
    }

    @include breakpoint( $breakpoint-3 ) {
      width: $max-width-percent - 10;
    }
  }
}

.contain {
  margin: $margin-center;
  max-width: $max-width-px;
}

.home-columns {
  //@TODO: Responsive!
  display: grid;
  grid-template-columns: 68% 1fr;
  grid-gap: $padding-more * 2;
  margin: 0 $padding-more;

  @include breakpoint( $breakpoint-2, "max" ) {
    display: block;
  }

  aside.widget-area {
    @include breakpoint( $breakpoint-2, "max" ) {
      margin: $padding-more;
    }
  }
}

body:not(.page) .content-area article {
  border: 1px solid $color-gray-base;
  padding: $base-padding;

  a {
    @include link-colors( lighten($color-accent, 15%), $color-accent );
  }

  &:nth-child(even) {
    background: rgba($color-accent, 0.15);
    border: 1px solid rgba($color-accent, 0.5);
  }
}
