.widget {
  margin: $base-margin 0 $padding-more*2 0;

  .widget-title {
    border-bottom: 1px solid $color-accent-two;
    @include font-size(2.2);

    footer & {
      background: none;
      padding: $padding-less;
    }
  }

  @include breakpoint( $breakpoint-2 ) {
    &:first-child {
      margin-top: 0;
    }
  }

  /* Make sure select elements fit in widgets */
  select {
    max-width: 100%;
  }
}

/* Search widget */
.widget_search .search-submit {
  display: none;
}
