.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

aside.footer-widgets {
  display: block;
  padding-top: 25px;
  width: 100%;

  @include breakpoint( $breakpoint-2 ) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $padding-more;
  }

  .widget {
    background: none;
    padding: 0 $padding-more;
    vertical-align: top;

    @include breakpoint( $breakpoint-2 ) {
      padding: $padding-more;
    }
  }
}

.site-content:not(.home-columns) aside.widget-area {
  margin: $padding-more;
  max-width: $max-width-percent;

  @include breakpoint( $breakpoint-3 ) {
    display: inline-block;
    padding-top: $padding-more;
    margin: 0 $base-margin;
    width: 25%;
    vertical-align: top;
  }

  .wpp-sponsor:first-child {
    margin-top: $base-margin;
  }
}
